<div class="card">
    <div class="card-body">
        <div class="d-flex">
            <spam class="flex-grow-1 fw-bold">Name</spam>
            <spam><%= @equipament.name %></spam>
        </div>

        <div class="d-flex">
            <spam class="flex-grow-1 fw-bold">Serial Number</spam>
            <spam><%= equipament.serial_number %></spam>
        </div>
    </div>
    <div class="card-footer">
        <%= link_to "Edit", edit_equipament_path(equipament), class:"btn btn-info" %>
    </div>
</div>